
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


.filter_element:hover {
  background-color: #F37515;
    cursor: pointer;
}
.Filter_block {
  margin-top: 10px;
  margin-bottom: 40px;
}
.filter_element {
    padding: 15px 25px 15px 25px;
  border-radius: 17px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
   margin-top: 20px;
    margin-right: 20px;
  background-color: #2F3338;
  border: none;
  color: white;
  transition: all linear .30s;
    -webkit-transition: all linear .30s;
 
}
.Main__wraper_Content {
    padding:25px;
  padding: 25px;
}
.First_text {
    font-family: 'Outfit', sans-serif;
  color: white;


}
.first_name_addtoBookmark {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;

}
.Film_render_Names1{
  font-size: 30px;
  color: white;
}

.interesting_fact_about_film {

}
.Hot_Film_in_film_page {
  color: #F27614;
  font-size: 20px;
  margin-bottom: 10px;
}
.Text_in_film_block_all_fact {
color: #1C2023;
  font-size: 20px;
  margin-bottom: 5px;
}
.Film_interesting_fact {
  background-color: white;
max-width: 400px;
padding: 20px;
border-radius: 20px;
animation: rotations;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-direction: alternate;
height: 91%;
position: inherit;
}
.Main_film_and_fact_wrapeer {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.Film_image_in_movie_page {
width: 70%;
  height: 70vh;
  object-fit: cover;
  border-radius: 15px;
}
.add_to_save_in_movie_app {
 color: white;
  padding: 15px 20px 15px 20px;
  background-color: #F37515;
  border: none;
  border-radius: 5px;
  align-self: center;
  align-items: center;
  display: flex;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}
.Form_name_text {
  color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  font-size: 30px;
}
.Form_in_add_film_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  width: 500px;

}
.add_film_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.Name_in_add_film {
padding: 10px;

}
.Years_in_add_film {
padding: 10px;
}
.genre_in_add_film {
padding: 10px;
}
.duration_in_add_film {
padding: 10px;
}
.Desk_in_add_film {
resize: none;
}


.rating_in_add_film {
padding: 10px;
}
.fite_in_add_film {
  color: white;
  border: none;
}
.button_in_add_film {
padding: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #F27614;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.Form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.Link_in_Register_and_login_page {
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 15px;
  margin-top: 10px;
}

.Error_message_in_register_and_login_page {
  color: red;
    font-size: 15px;
  text-align: left;
}

.Happy_message {
  color: greenyellow;
  font-size: 15px;
   text-align: left;
}

.Form_wrapper form {
  display: flex;
flex-direction: column;
  gap: 7px;
max-width: 220px;
width: 220px;
}

.Form_wrapper form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #1C2023;
  
  
}

.Btn_in_form {
    border: none;
  background-color: #F27614;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


* {
    font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.Go_back_in_movie_page {
  color: white;
  align-items: center;
  align-self: center;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.none {
  display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}
.Film_Wrapeer {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}
.Film_render_main_block {
  width: 30%;
}

.SearchValue {
 padding: 18px 15px 15px 15px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #2F3338;
  border: none;
  color: white;
}

.Left_sitebar_icons:hover {
  color: white;
  background-color: #282C31;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
      transition: all linear .25s;
    -webkit-transition: all linear .25s;
  
    
}

.Movie_name_text {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.Description_text {
   color: white;
  font-weight: 300;
  font-size: 15px;
 text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  
  margin-bottom: 10px;
}
.info_content_text {
   color: white;
   font-weight: 600;
  font-size: 16px;
}
.Film_Map_content{
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
 background-position: center;
 padding-left: 10px;
position: relative;
background-size: cover;

}

.MainBaners {
  display: flex;
  gap: 30px;
  
}
.Film_Map_content:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  border-radius: 30px;
  background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.9) 100%);
}
.Text_content_baner {
  position: absolute;
bottom: 30px;
left: 20px;
}

.Left_sitebar_icons {
color: #535458;
    font-size: 35px;
    margin: auto;
    margin-top: 25px;
  padding:10px ;
      transition-property: all;
  transition: all ease 1s;
    
}


@keyframes rotations {
  from {
   transform: rotateZ(-5deg);
  }

  to {
   transform: rotateZ(5deg);
  }
  
  
  
}
.News_Maping_content_block {
background-color: white;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
 animation: rotations;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
    animation-direction: alternate;
}
.Orange_back {
  background-color: #F47410;
  border-radius: 20px;
}




.Text__down_image {
  display: flex;
  align-items: center;
 margin-top: 10px;
  justify-content: space-between;
  
}



.Image_in_Films_block_search {
   border-radius: 30px;
  height: 35vh;
  object-fit: cover;
  width: 100%;
}

.Image_in_Films_block {
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
  width: 340px;
}

.Film_render_Names {
color: white;
  font-size: 20px;
  font-weight: 500;
}

.Film_render_years_rating{
  color: #535458;
}

body .swiper-button-next, .swiper-button-prev {
  color: white !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: auto;
right: 50px !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 25px !important;
}
.Film_renders_swiper_element {
  display: flex;
 
  margin-top: 30px;
}

.swiper-slide {
width: initial !important;
}


.Image_in_news {
  height: 230px;
  background-size: cover;
  margin: 0 auto;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.Hot_news_text {
  color: #F27614;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.News_name_text {color: #1C2023;
  font-size: 20px;
  margin-bottom: 20px;
}

.date_news_text {
  color: #282C31;
  font-size: 15px;
}



.Wrapper {
    display: flex;
  min-height: 100vh;

}

.Main__wraper_Content {
    background-color: #1C2023;
  margin-left: 10%;
  width: 100%;
overflow: hidden;
}
.exit {
  margin-bottom: 45px;
}

.Specialforyou{
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}
.Main__wraper {
    height: 100vh;
    width: 10%;
  display: flex;
justify-content: space-between;
flex-direction: column;
  position: fixed;
  
  
  z-index: 100;

 
    background-color: #1F2326;
}
